%html
  %head
    %title
      Gilty Treasures
    %link{ :rel => "stylesheet", :href => "/bootstrap.min.css"}
    %link{ :rel => "stylesheet", :href => "/style.css"}
    %link{ :rel => "stylesheet", :href => "http://fonts.googleapis.com/css?family=Homemade+Apple"} 

%body
  .container
    %h1#header Gilty Treasures

    .content
      =yield
  
  #footer
    Data from gilt.com.
