%html
  %head
    %title
      Gilty Treasures
    %link{ :rel => "stylesheet", :href => "/bootstrap.min.css"}
    %link{ :rel => "stylesheet", :href => "/style.css"}
    %link{ :rel => "stylesheet", :href => "http://fonts.googleapis.com/css?family=Homemade+Apple"} 

%body
  .container
    %h1#header 
      %a{:href => "/"} Gilty Treasures

    .content
      #top
        %a{ :href => "/top" }
          Top 5
          %br
          %img{ :src => "/ribbon.png" }
      =yield
  
  #footer
    Data from gilt.com. Ribbon icon by Scott Lewis, from <a href="http://www.thenounproject.com">The Noun Project</a>. Fonts by Google webfonts.
