body {
  background-color: #eeeeee;
  padding-top: 40px; }

#header a {
  font-family: "Homemade Apple", cursive;
  font-size: 48px;
  color: #777777 !important;
  padding: 10px;
  position: relative;
  z-index: 1000; }

#header a:hover {
  color: #777777 !important;
  text-decoration: none; }

#footer {
  text-align: center; }

.container {
  width: 820px; }

#what {
  text-align: center; }

#splash {
  position: relative;
  left: 200px;
  right: 200px; }

#price {
  position: absolute;
  bottom: 40px;
  left: 580px;
  font-family: "Homemade Apple", cursive;
  font-size: 46px;
  color: goldenrod; }

#prev {
  position: absolute;
  top: 300px;
  left: 10px; }

#next {
  position: absolute;
  top: 300px;
  right: 10px; }

.content {
  position: relative;
  background-color: white;
  padding: 20px;
  margin: -20px 0px 0px 0px;
  z-index: 0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15); }
